.previewTitle {
  font-size: 1.5em;
  font-weight: bolder;
}
.preview{
  background-color: white;
  border-radius: 10px;
  width: 372px;
  height: 471px;
  margin: 25px;
}
.categoryText{
  letter-spacing: 2px;
  font-size: 0.9em;
}
.textBox{
  margin: 30px;
  width: 290px;
}


.tag {
  color: #A0A0A0;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #A0A0A0;
  margin-right: .5em;
}
